
<br>

        <font color="white">
<center>
<h2 style="background-color: darkblue"  >
  <strong style="color:white">Editando comentario de respuesta</strong>
 </h2> 
</center>
</font>

<%= render 'form', question: @question, answer: @answer, answercomment: @answercomment %>

<h3><%= link_to "Volver", :back , class: "btn btn-info", style: "color:white" %> </h3>
